body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h1 {
    font-size: 60px;
    margin-bottom: 2rem;
}

h2 {
    font-weight: 200;
}

p {
    font-size: 20px;
    margin: 1.5rem;
}

button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    margin: 4rem;
    padding: 1.5rem;
    border-radius: 2rem;
}